<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd">

	<http pattern="/static/**" security="none" />
	<!-- ______________________使用預先登入，不須再次驗證___________________ -->
	<http pattern="/preAuth/**" auto-config="true"
		use-expressions="false"
		authentication-manager-ref="authenticationManager">
		<custom-filter position="PRE_AUTH_FILTER"
			ref="preAuthFilter" />
		<form-login
			authentication-success-handler-ref="cookieTokenAwareAuthenticationSuccessHandler"
			login-page="/login.jsp" authentication-failure-url="/login.jsp?error" />
		<logout invalidate-session="true"
			success-handler-ref="cookieTokenClearingLogoutSuccessHandler"
			logout-url="/login.jsp" />
	</http>
	<!-- ______________________使用一般登入，預設登入頁面___________________ -->
	<http pattern="/standard/standardA.jsp" auto-config="true"
		use-expressions="true"
		authentication-manager-ref="authenticationManager">
		<intercept-url pattern="/login" access="permitAll" />
		<intercept-url pattern="/standard/standardA.jsp"
			access="hasRole('ROLE_USERA')" />
		<!-- 預設登入頁/spring_security/login -->
		<form-login />
	</http>
	<!-- ______________________使用一般登入，自訂登入頁面___________________ -->
	<http pattern="/standard/standardB.jsp" auto-config="true"
		use-expressions="false"
		authentication-manager-ref="authenticationManager">
		<!-- 登錄頁面不控制權限 -->
		<intercept-url pattern="/login.jsp"
			access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/**" access="ROLE_USERB" />
		<form-login login-page="/login.jsp"
			authentication-failure-url="/login.jsp?error" />
		<logout invalidate-session="true" logout-url="/login.jsp" />
		<!-- <remember-me token-validity-seconds="30" /> -->
	</http>
	<!-- __________加上這不指定pattern的設定才可以使用預設登入頁面___________ -->
	<http auto-config='true' authentication-manager-ref="authenticationManager">
		<intercept-url pattern="/**"
			access="hasRole('ROLE_USERA')" />
	</http>

	<!-- ______________________登入登出handler ______________________ -->
	<beans:bean
		id="cookieTokenAwareAuthenticationSuccessHandler"
		class="mySample1.CookieTokenAwareAuthenticationSuccessHandler">
		<beans:property name="defaultTargetUrl"
			value="/preAuth/preAuthPage.jsp" />
		<beans:property name="alwaysUseDefaultTargetUrl"
			value="true" />
	</beans:bean>

	<beans:bean id="cookieTokenClearingLogoutSuccessHandler"
		class="mySample1.CookieTokenClearingLogoutSuccessHandler">
		<beans:property name="defaultTargetUrl"
			value="/login.action" />
		<beans:property name="alwaysUseDefaultTargetUrl"
			value="true" />
	</beans:bean>
	<!-- ______________________end 登入登出handler ______________________ -->
	<beans:bean id="http403ForbiddenEntryPoint"
		class="org.springframework.security.web.authentication.Http403ForbiddenEntryPoint" />
	<!-- ______________________預先驗證filter ______________________ -->
	<beans:bean id="preAuthFilter"
		class="mySample1.PreAuthFilter">
		<beans:property name="authenticationManager"
			ref="authenticationManager" />
	</beans:bean>
	<!-- ______________________驗證機制 ______________________ -->
	<!--___________________________________________________i think:照順序往下找到適配的驗證方式___________________________________________________ -->
	<authentication-manager
		alias="authenticationManager">
		<authentication-provider ref="preAuthProvider" />
		<authentication-provider
			user-service-ref="userDetailsService">
			<password-encoder ref="passwordEncoder">
			</password-encoder>
		</authentication-provider>
		<!-- <authentication-provider> -->
		<!-- <user-service> -->
		<!-- <user name="admin" password="123456" -->
		<!-- authorities="ROLE_USER, ROLE_ADMIN" /> -->
		<!-- <user name="benny" password="123456" authorities="ROLE_USER" /> -->
		<!-- </user-service> -->
		<!-- </authentication-provider> -->
	</authentication-manager>

	<beans:bean id="passwordEncoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
		<beans:constructor-arg value="11" />
	</beans:bean>

	<beans:bean id="preAuthProvider"
		class="org.springframework.security.web.authentication.preauth.PreAuthenticatedAuthenticationProvider">
		<beans:property
			name="preAuthenticatedUserDetailsService">
			<beans:bean id="userDetailsServiceWrapper"
				class="org.springframework.security.core.userdetails.UserDetailsByNameServiceWrapper">
				<beans:property name="userDetailsService"
					ref="userDetailsService" />
			</beans:bean>
		</beans:property>
	</beans:bean>

	<beans:bean id="userDetailsService"
		class="mySample1.UserDetailService" />

</beans:beans>